//colors
$blue: #61c4d9;
$dark_green: #0f5a47;
$dark: #323232;
$grey: #666;
$black_t: #0d0d0d;
$sky: #b0f7ff;
$dark_ico: #2a2a29;
//rem function
@function rem ($px) {
  @return $px / 18px + 0rem;
}
//layout
@import './layout/_normalize.scss';
@import './layout/_fonts.scss';
@import './layout/_base.scss';
//blocksport 
@import './blocks/_header.scss';
@import './blocks/_lead.scss';
@import './blocks/_why.scss';
@import './blocks/_crew.scss';
@import './blocks/_feed.scss';
@import './blocks/_menu.scss';
@import './blocks/_prod.scss';