html, body {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

body {
  font-family: 'Alegr', Arial, sans-serif;
  -webkit-font-snoothing: antialiased;
  -moz-osx-font-snoothing: grayscale;
  color: #000;
  line-height: 1.42;
  font-size: rem(18px);

}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.container {
  max-width: rem(940px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.section {
  height: 100vh;
  width: 100%;
  min-height: rem(650px);
  display: flex;
  //border: 2px solid red;
}



.tittle {
  font-family: 'Alegr-bold';
  font-size: rem(48px);
  text-transform: uppercase;
  color: #0d0d0d;
}

.text {
  font-family: 'Alegr-light';
  font-size: rem(18px);
  color: #666;
}

.paragr {
  font-family: 'Alegr';
  font-size: rem(18px);
  color: #666;
}

