
.crew {
  position: relative;
  display: flex;
  &::before {
    content: "";
    width: 196px;
    height: 578px;
    position: absolute;
    right: 0;
    top: -25%;
    background: url('../img/bg/pattern-crew.png') top right / cover no-repeat;
  }
  &::after {
    content: "";
    width: 104px;
    height: 114px;
    position: absolute;
    left: 0;
    bottom: -5%;
    z-index: 2;
    background: url('../img/bg/crew-raspb.png') center center / cover no-repeat;
  }


}

.crew__bg {
  position: absolute;
  top: -10%;
  right: 0;
  z-index: 1;
}

.container--crew {
  z-index: 2;
  text-align: center;
}

.crew__cont {
  margin-top: rem(68px);
}

.crew__list {
  display: flex;
  justify-content: space-between;
}

.crew__item {
  &:nth-child(2n) {
    padding-top: rem(63px);
  }

.crew__img {
  width: 100%;
}
  
}
.crew__item-tittle {
  font-family: 'Alegr-bold';
  font-size: rem(21px);
  color: #323232;
  position: relative;
  
}

.dis-crew-trang {
  position: relative;
  &::after {
    content: "";
    border: 7px solid transparent;
    border-top-color: $dark-green;
    border-bottom-width: 0;
    border-left-width: 4.5px;
    border-right-width: 4.5px;
    position: absolute;
    top: 41%;
    right: 9%;
  }
}
.act-crew-trang {
  position: relative;
  &::after {
    content: "";
    border: 7px solid transparent;
    border-bottom-color: $dark-green;
    border-top-width: 0;
    border-left-width: 4.5px;
    border-right-width: 4.5px;
    position: absolute;
    top: 41%;
    right: 9%;
  }
}
.crew__position {
  font-family: 'Alegr-medium';
  font-size: rem(18px);
  color: #281e1e;
}
.crew__text {
  font-family: 'Alegr-light';
  font-size: rem(18px);
  color: #666;
}
.dis-crew-desc {
  height: 0;
  overflow: hidden;
}