.deliv {
  position: relative;
  background: url('../img/bg/bg-form-pattern.jpg') center center / cover no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 242px;
    height: 264px;
    background: url('../img/bg/bg-form-blackberry.png') center center no-repeat;
    top: -16%;
    right: -3%;
  }
}


.deliv__tittle {
  color: $dark_green;
  text-align: center;
}

.deliv__form-cont {
  display: flex;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 188px;
    background: url('../img/bg/bg-form-leave.png') center center no-repeat;
    bottom: 10%;
    right: -6%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 58px;
    background: url('../img/bg/bg-form-berry.png') center center no-repeat;
    bottom: 2%;
    left: -7%;
  }
}

.form__half {
  width: 50%;
}

.form__row {
  display: flex;
  margin-bottom: rem(13px);
  width: 100%;
}

.form__label {
  margin-right: rem(20px);
  flex: 1;
}

.form__input {
  padding: rem(22px) rem(11px);
  width: 100%;
  border: none;
  border: 3px solid transparent;
  outline: none;
  font-family: 'Open Sans';
  &:focus {
    border-color: #dde3bd;
  }
}

.form__input-name {
  margin-top: 2px;
  font-family: 'Alegr';
  font-size: 18px;
  color: $dark_green;
}

.form__textarea {
  resize: none;
  width: 100%;
  padding: rem(22px) rem(11px);
  border: none;
  height: rem(180px);
  border: 3px solid transparent;
  outline: none;
  font-family: 'Open Sans';
  &:focus {
    border-color: #dde3bd;
  }
}

.radio__label {
  display: flex;
  align-items: center;
  margin-right: rem(23px);
}

.radio__input {
  appearance: none;
  -webkit-appearance: none;
}

.radio__fake {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  display: block;
  border: solid 1px #c9c9c9;
  background: linear-gradient(to top, #ededed, #ffffff);
  margin-right: 5px;
}

.radio__input:checked + .radio__fake::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark_green;
}

.radio__var {
  margin-bottom: 0px;
}

.check__label {
  display: flex;
  align-items: center;
}

.check__input {
  width: 0;
  padding: 0;
  height: 26px;
  appearance: none;
  -webkit-appearance: none;
}

.check__fake {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #fff;
  display: block;
  margin-right: rem(5px);
}

.check__input:checked + .check__fake::after {
  content: "";
  position: absolute;
  background: url('../img/bg/checked.png') center center no-repeat;
  width: 11px;
  height: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textarea__row, .radio__row, .check__row {
  margin-right: 0;
}

.btn__row {
  display: flex;
  align-items: center;
  margin-top: rem(40px);
}

.btn__row-link {
  margin-top: 0;
}

.form__clear {
  margin-left: 30px;
  color: $dark_green;
}