.feed {
  background-image: url(../img/bg/berry_fb.png), 
    url(../img/bg/leave_fb.png);
  background-repeat: no-repeat no-repeat;
  background-position: top right, bottom left;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.container--feed {
  height: 100%;
}

.feed__tittle {
  text-align: center;
}

.feed__content {
  margin-top: 60px;
  display: flex;
  background: #f8faf9;
  padding: 51px 45px;
  background-image: url(../img/bg/branch.png), 
    url(../img/bg/ellipse.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top center;
}

.feed__fb {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.feed__fb-tittle {
  font-family: 'Alegr-medium';
  font-size: 30px;
  color: #323232;
}

.feed__fb-text {
  width: 75%;
}

.feed__name {
  font-family: 'Alegr-medium';
  font-size: 18px;
}

.feed__ava {
  margin-top: 42px;
}

.feed__ava-list {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.feed__ava-item {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 40px;
  &:first-child {
    margin-left: 0;
  }
}

.feed__ava-img {
  width: 100%;
}

.active-feed {
  border: 8px solid $dark_green;
  width: 102px+8px;
  height: 102px+8px;
}