.section--header {
  position: relative;
  background-color: #61c4d9;
  background-image: url('../img/bg/pattern.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  padding-bottom: rem(30px);
}

.header--container::before {
  content: "";
  background: url('../img/bg/bg-header-leaves.png') bottom center / contain no-repeat;
  width: 1056px;
  height: 353px;
  position: absolute;
  bottom: -8%;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(25px) 0;
}

.logo__link {
  font-family: 'Museo';
  font-size: rem(24px);
  line-height: 0.88;
  color: inherit;
}

.header__nav {
  width: 76%;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0 rem(45px);
}

.header__nav-link {
  display: flex;
  color: inherit;
}

.header__tel, .tel{
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: flex;
    padding-right: rem(6px);
    height: 12px;
    width: 12px;
    background: url(../img/icon/phone.png) center center no-repeat;
  }
}

.header__tel-link, .tel__link {
  font-size: rem(24px);
  font-style: normal;
  color: inherit;
}

.header__hamburger-link {
  display: flex;
  align-items: center;
  height: 22px;
  width: 24px;
}

.header__hamburger {
  width: 24px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    top: -8px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    bottom: -8px;
  }
}