.lead {
  height: 100%;
  display: flex;
}

.lead__cont {
  display: flex;
  flex-direction: column;
}

.lead__cont-mess {
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: center;
  z-index: 3;

}

.lead__cont-mess-tittle {
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Alegr-bold';
  font-size: rem(60px);
}

.lead__cont-mess-desc {
  width: 73%;
  font-family: 'Alegr';
  font-size: rem(21px);
  margin-top: rem(5px);
}



.lead__adv {
  z-index: 3;
}

.lead__adv-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.lead__adv-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lead__adv-desc {
  margin-left: rem(5px);
  font-family: 'Alegr';
  font-size: rem(16px);
  line-height: normal;
}

.lead__image {
  height: 90%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  right: -6%;
  justify-content: center;
}

//icons
.lead__icon-pic {
  fill: none;
  stroke: $sky;
  stroke-width: 0.8;
  stroke-miterlimit: 10;
}
.leaves-icon {
  width: 50px;
  height: 42px;
}


.car-icon {
  width: 50px;
  height: 42px;
}

.linage-icon {
  width: 50px;
  height: 42px;
}