.prod {
  background-color: $grey-light;
  position: relative;

  &::after {
    content: "";
    width: rem(135px);
    height: rem(112px);
    position: absolute;
    background: url(../img/bg/prod-berry.png) center center / contain no-repeat;
    bottom: -6%;
    right: 2%;
    z-index: 1;
  }
}

.prod__content{
  overflow: hidden;
}

.prod__list {
  position: relative;
  display: flex;
  transition: right .4s;
}

.prod__controls {
  position: absolute;
  top: 50%;
}

.controls--prev {
  left: 2%;
  transform: rotate(90deg) translateY(-50%);
}
.arrow {
  width: 29px;
  height: 15px;
  fill: $black_t;
}

.controls--next {
  right: 2%;
  transform: rotate(-90deg) translateY(-50%);
}

.prod__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}


.prod__image {
  width: 50%;
}

.prod__cont {
  width: 50%;
  margin-left: rem(78px);
}

.prod__tittle {
  font-family: "Alegr-bold";
  color: $black_t;
  font-size: rem(36px);
  text-transform: uppercase;
}

.prod__comp {
  margin-top: rem(41px);
  padding: 0;
  font-family: "Alegr-medium";
  font-size: rem(24px);
}

.prod__text {
  margin-top: rem(33px);
  padding: 0;
  color: #666;
  width: 85%;

  & p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 0;
    margin: 0;
  }
}

.prod__spec-list {
  display: flex;
  justify-content: flex-start;
  color: #333;
}

.prod__spec-item {
  width: 50%;
  margin-top: rem(50px);
}

.prod__spec-text {
  font-family: 'Alegr-bold';
}

.prod__lead {
  display: flex;
  align-items: center;
  margin-top: rem(35px);
}

.prod__price {
  width: 50%;
  font-family: "Alegr-light";
  font-size: rem(60px);
  text-transform: uppercase;
}

.prod__btn {
  margin: 0;
  z-index: 2;
}