.why {
  position: relative;
  background-image: url('../img/bg/pattern-leave.png');
  background-repeat: no-repeat;
  background-position: center left;

  &::before {
    content: "";
    width: 161px;
    height: 315px;
    position: absolute;
    bottom: -20%;
    background: url('../img/bg/raspberries.png') center center / cover no-repeat;
  }

}

.why__headline {
  display: flex;
  flex-direction: column;

  .why__tittle {
    text-align: center;
  }

  .why__desc {
    margin-top: rem(23px);
    display: flex;
    width: 43%;
    text-align: center;
    align-self: center;
    font-family: 'Alegr';
    font-size: rem(18px);
    color: #666;
  }
}

.why__content {
  margin-top: rem(57px);
}

.why__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why__item {
  position: relative;
  width: 29.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__icon {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #f2f5f4;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background-image: url('../img/bg/separator.png');
    background-repeat: no-repeat;
    width: 67px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    right: -136%;
  }
}

.why__item:last-child {
  .why__icon:after {
    display: none;
  }
}

.why__item-tittle {
  margin-top: rem(35px);
  font-family: 'Alegr-bold';
  font-size: rem(27px);
  color: #000;
}

.why__item-desc {
  text-align: center;
}

.why__icon-svg {
  fill: none;
  stroke: $dark_ico;
  stroke-width: 0.85;
  stroke-miterlimit: 10;
  margin: auto;
}

.arm {
  width: 75px;
  height: 64px;
}

.man {
  width: 66px;
  height: 69px;
}

.smile {
  width: 70px;
  height: 69px;
}