.section--crew {
  height: 100%;
}
.crew {
  position: relative;
  display: flex;

  .crew__bg {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: 1;
  }
  .container--crew {
    margin-top: 109px;
    z-index: 2;
    text-align: center;
    
    .crew__cont {
      margin-top: 68px;
      .crew__list {
        display: flex;
        justify-content: space-between;
        .crew__item {
          &:nth-child(1) {
            padding-top: 6px;
          }
          &:nth-child(2) {
            padding-top: 63px;
          }
          &:nth-child(4) {
            padding-top: 50px;
          }
          .crew__item-tittle {
            font-family: 'Alegr-bold';
            font-size: 21px;
            color: #323232;
          }
          .crew__position {
            font-family: 'Alegr-medium';
            font-size: 18px;
            color: #281e1e;
          }
          .crew__text {
            font-family: 'Alegr-light';
            font-size: 18px;
            color: #666;
          }
        }
      }
    }
  }
}
.disabled {
  opacity: 0;
}