.section--header {
  position: relative;
  background-color: #61c4d9;
  background-image: url('../img/bg/pattern.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  padding-bottom: 30px;
}

.header--container::before {
  content: "";
  background: url('../img/bg/bg-header-leaves.png') no-repeat;
  width: 1056px;
  height: 353px;
  position: absolute;
  bottom: -8%;
  left: 5%;
  z-index: 3;
}

.header__leaves {
  position: absolute;
  background-image: url('../img/bg/leaves.png');
  width: 100%;
  min-height: 100%;
  z-index: 2;
  bottom: -52%;
  left: 12%;
  background-repeat: no-repeat;
}

.header__berries {
  background-repeat: no-repeat;
  position: absolute;
  background-image: url('../img/bg/berries.png');
  width: 100%;
  min-height: 100%;
  z-index: 1;
  bottom: -60%;
  left: 56%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  .logo__link {
    margin: 25px 0;
    font-family: 'Museo';
    font-size: 24px;
    line-height: 0.88;
    color: inherit;
  }

  &__nav {
    width: 76%;

    &-list {
      display: flex;
      justify-content: space-between;
      padding: 0 45px;

      .header__nav-link {
        display: flex;
        color: inherit;
      }
    }
  }

  &__tel {
    display: flex;
    align-items: center;


    &:before {
      content: '';
      display: flex;
      padding-right: 6px;
      height: 12px;
      width: 12px;
      background: url(../img/icon/phone.png) center center no-repeat;
    }

    &-link {
      font-size: 24px;
      font-style: normal;
      color: inherit;
    }
  }
}