.how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $grey-light;
  &::before {
    content: "";
    position: absolute;
    width: rem(154px);
    height: rem(220px);
    background: url('../img/bg/bg-how-berries.png') center center / contain no-repeat;
    left: 0;
    top: -12%;
  }
}

.how__tittle {
  text-align: center;
}

.how__video {
  position: relative;
  margin-top: rem(70px);
  width: rem(660px);
  height: rem(405px);
  //background: url('../img/pic/video.jpg') center center / contain no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: rem(72px);
    height: rem(175px);
    background: url('../img/bg/bg-video-left.png') center center / contain no-repeat;
    left: -30%;
    bottom: -18%;
  }
  &::after {
    content: "";
    position: absolute;
    width: rem(90px);
    height: rem(77px);
    background: url('../img/bg/bg-video-right.png') center center / contain no-repeat;
    right: -20%;
    top: -15%;
  }
}
